.intro-2 {
    /* background: url("https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg")no-repeat center center; */
    background-size: cover;
    /*background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);*/
    background: linear-gradient(0deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.view {
    height: 100vh !important;
}

.container {
    margin-top: 9%;
    background-color: rgba(255, 255, 255, 0.322);
    height: 100% !important;
}

img {
    height: 300px;
    margin: auto;
}

.row {
    padding-top: 7%;
}

.col-md-4{
    margin: auto;
}

.lable {
    text-align: center;
}