

<!-- <mdb-navbar class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  waves-light" mdbWavesEffect>
          <a class="nav-link" href=""><b>Home</b></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="student">Students</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="book">Books</a>
        </li>
      </ul>
    </links>
  </mdb-navbar> -->

        <!-- <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
          <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#">
              <strong>Library</strong>
            </a>
          </mdb-navbar-brand>
          <links>
            <ul class="navbar-nav mr-auto">
                    <li class="nav-item waves-light" mdbWavesEffect>
                      <a class="nav-link" href="">Home</a>
                    </li>
                    <li class="nav-item waves-light" mdbWavesEffect>
                      <a class="nav-link" href="student">Students</a>
                    </li>
                    <li class="nav-item waves-light" mdbWavesEffect>
                      <a class="nav-link" href="book">Books</a>
                    </li>
                  </ul>
          </links>
        </mdb-navbar>  -->

        <ul class="nav justify-content-center lighten-3 py-4 mb-r z-depth-1 fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav">
                <li class="nav-item">
                    <a class="nav-link white-text" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link white-text" href="book-list">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link white-text" href="student-list">Students</a>
                </li>
            </ul>